html, body {
    margin: 0;
    padding: 0;
    background-color: #0e1113;
}

.root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container {
    position: absolute;
    top: 3em;
    bottom: 3em;
    left: 0;
    right: 0;
}

#loading-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index:1000;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s ease-in-out 0.25s;
}

#loading-container.loading {
    background-color: rgba(0, 0, 0, 0.5);
}

#loading-container .loading-inner {
    text-align: center;
    padding: 2em;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#loading-container.loading .loading-inner {
    opacity: 1;
}

#error-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    pointer-events: none;
    z-index:999;
    background-color: red;
    color: white;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 0.5s ease-in-out 0.25s;
}

#error-container.errors {
    opacity: 0.9;
}

#error-text {
    font-weight: bold;
}

#loading-container .text {
    font-size: 1em;
    opacity: 0;
    color: rgba(255, 255, 255, 0.8);
    transform: translateY(-10);
}

#loading-container.loading .text {
    transition: all 0.25s ease-in-out 0.5s;
    transform: translateY(0);
    opacity: 1;
}

@keyframes loading-rotation {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(-360deg);}
}

#loading-container img {
    transition: opacity 0.25s ease-in-out;
    opacity: 0;
    width: 48px;
    animation-name: loading-rotation;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#loading-container.loading img {
    opacity: 1;
}

.header, .footer {
    background-color: #0e1113;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

@media only screen and (max-width: 1080px) {
    #code {
        display: none;
    }
}

.header {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,.2)
}

.footer {
    box-shadow: 0 -8px 20px 0 rgba(0,0,0,.2)
}

.left {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left #example-picker {
    margin-left: 1em;
    margin-right: 1em;
}

a {
    color: #00c8ff;
    text-decoration: none;
}

a i {
    opacity: 0.9;
    color: white;
}

span {
    opacity: 0.9;
}

a:hover {
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
}

.center {
    flex-grow: 1;
    flex-shrink: 0;
}

.right {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 2em;
}

.right .fab {
    padding: 0.5em;
}

.subtle {
    opacity: 0.9;
    font-size: 0.8em;
}

.header {
    top: 0;
    height: 3em;
}

.footer {
    bottom: 0;
    height: 3em;
}


.container {
    display: flex;
    flex-direction: row;
}
